/* begin Page */
/* Created by Artisteer v3.1.0.46558 */

#gl-main, table
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.gl-postcontent,
.gl-postheadericons,
.gl-postfootericons,
.gl-blockcontent-body,
ul.gl-vmenu a 
{
   text-align: left;
}

.gl-postcontent,
.gl-postcontent li,
.gl-postcontent table,
.gl-postcontent a,
.gl-postcontent a:link,
.gl-postcontent a:visited,
.gl-postcontent a.visited,
.gl-postcontent a:hover,
.gl-postcontent a.hovered
{
   font-family: Arial, Helvetica, Sans-Serif;
}

.gl-postcontent p
{
   margin: 12px 0;
}

.gl-postcontent h1, .gl-postcontent h1 a, .gl-postcontent h1 a:link, .gl-postcontent h1 a:visited, .gl-postcontent h1 a:hover,
.gl-postcontent h2, .gl-postcontent h2 a, .gl-postcontent h2 a:link, .gl-postcontent h2 a:visited, .gl-postcontent h2 a:hover,
.gl-postcontent h3, .gl-postcontent h3 a, .gl-postcontent h3 a:link, .gl-postcontent h3 a:visited, .gl-postcontent h3 a:hover,
.gl-postcontent h4, .gl-postcontent h4 a, .gl-postcontent h4 a:link, .gl-postcontent h4 a:visited, .gl-postcontent h4 a:hover,
.gl-postcontent h5, .gl-postcontent h5 a, .gl-postcontent h5 a:link, .gl-postcontent h5 a:visited, .gl-postcontent h5 a:hover,
.gl-postcontent h6, .gl-postcontent h6 a, .gl-postcontent h6 a:link, .gl-postcontent h6 a:visited, .gl-postcontent h6 a:hover,
.gl-blockheader .t, .gl-blockheader .t a, .gl-blockheader .t a:link, .gl-blockheader .t a:visited, .gl-blockheader .t a:hover,
.gl-vmenublockheader .t, .gl-vmenublockheader .t a, .gl-vmenublockheader .t a:link, .gl-vmenublockheader .t a:visited, .gl-vmenublockheader .t a:hover,
.gl-logo-name, .gl-logo-name a, .gl-logo-name a:link, .gl-logo-name a:visited, .gl-logo-name a:hover,
.gl-logo-text, .gl-logo-text a, .gl-logo-text a:link, .gl-logo-text a:visited, .gl-logo-text a:hover,
.gl-postheader, .gl-postheader a, .gl-postheader a:link, .gl-postheader a:visited, .gl-postheader a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

.gl-postcontent a
{
   text-decoration: none;
   color: #155375;
}

.gl-postcontent a:link
{
   text-decoration: none;
   color: #155375;
}

.gl-postcontent a:visited, .gl-postcontent a.visited
{
   color: #876403;
}

.gl-postcontent  a:hover, .gl-postcontent a.hover
{
   text-decoration: underline;
   color: #1C6F9C;
}

.gl-postcontent h1
{
   color: #155375;
   margin: 10px 0 0;
   font-size: 26px;
}

.gl-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
}

.gl-postcontent h1 a, .gl-postcontent h1 a:link, .gl-postcontent h1 a:hover, .gl-postcontent h1 a:visited, .gl-blockcontent h1 a, .gl-blockcontent h1 a:link, .gl-blockcontent h1 a:hover, .gl-blockcontent h1 a:visited 
{
   font-size: 26px;
}

.gl-postcontent h2
{
   color: #155375;
   margin: 10px 0 0;
}

.gl-blockcontent h2
{
   margin: 10px 0 0;
}

.gl-postcontent h3
{
   color: #876403;
   margin: 10px 0 0;
   font-size: 18px;
}

.gl-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 18px;
}

.gl-postcontent h3 a, .gl-postcontent h3 a:link, .gl-postcontent h3 a:hover, .gl-postcontent h3 a:visited, .gl-blockcontent h3 a, .gl-blockcontent h3 a:link, .gl-blockcontent h3 a:hover, .gl-blockcontent h3 a:visited 
{
   font-size: 18px;
}

.gl-postcontent h4
{
   color: #4B3702;
   margin: 10px 0 0;
   font-size: 16px;
}

.gl-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
}

.gl-postcontent h4 a, .gl-postcontent h4 a:link, .gl-postcontent h4 a:hover, .gl-postcontent h4 a:visited, .gl-blockcontent h4 a, .gl-blockcontent h4 a:link, .gl-blockcontent h4 a:hover, .gl-blockcontent h4 a:visited 
{
   font-size: 16px;
}

.gl-postcontent h5
{
   color: #4B3702;
   margin: 10px 0 0;
   font-size: 14px;
}

.gl-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
}

.gl-postcontent h5 a, .gl-postcontent h5 a:link, .gl-postcontent h5 a:hover, .gl-postcontent h5 a:visited, .gl-blockcontent h5 a, .gl-blockcontent h5 a:link, .gl-blockcontent h5 a:hover, .gl-blockcontent h5 a:visited 
{
   font-size: 14px;
}

.gl-postcontent h6
{
   color: #5A4202;
   margin: 10px 0 0;
   font-size: 13px;
}

.gl-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
}

.gl-postcontent h6 a, .gl-postcontent h6 a:link, .gl-postcontent h6 a:hover, .gl-postcontent h6 a:visited, .gl-blockcontent h6 a, .gl-blockcontent h6 a:link, .gl-blockcontent h6 a:hover, .gl-blockcontent h6 a:visited 
{
   font-size: 13px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#gl-main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

#gl-page-background-glare-wrapper {
   position: fixed;
   width:100%;
}

#gl-page-background-glare
{
   position: relative;
   top: 0;
   max-width:800px;
   min-width: 1000px;
   height:160px;
   margin: 0 auto;
   background-image: url('images/page_gl.png');
   background-repeat: no-repeat;
   background-position: center top;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #4B3702;
   background-color: #FBC737;
   background-image: url('images/Bottom_texture.jpg');
   background-repeat: repeat;
   background-attachment: fixed;
   background-position: top center;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.gl-box, .gl-box-body {
   margin:0 auto;
   position:relative;
}
.gl-box:before, .gl-box:after, .gl-box-body:before, .gl-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.gl-box:before,.gl-box-body:before{
   left:0;
}
.gl-box:after,.gl-box-body:after{
   right:0;
}
.gl-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.gl-box:after {
   background-position: bottom right;
   z-index:-3;
}
.gl-box-body:before, .gl-box-body:after {
   background-repeat:repeat-y;
}
.gl-box-body:before {
   background-position: top left;
   z-index:-3;
}
.gl-box-body:after {
   background-position: top right;
   z-index:-3;
}

.gl-box .gl-box:before, .gl-box .gl-box:after, .gl-box-body .gl-box-body:before, .gl-box-body .gl-box-body:after {
   z-index:-2;
}
.gl-box .gl-box .gl-box:before, .gl-box .gl-box .gl-box:after, .gl-box-body .gl-box-body .gl-box-body:before, .gl-box-body .gl-box-body .gl-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.gl-bar {
   position:relative;
}
.gl-bar:before, .gl-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.gl-bar:before {
   left:0;
   background-position: top left;
}
.gl-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .gl-postcontent li h1, .gl-blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .gl-postcontent li h2, .gl-blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .gl-postcontent li h3, .gl-blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .gl-postcontent li h4, .gl-blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .gl-postcontent li h5, .gl-blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .gl-postcontent li h6, .gl-blockcontent-body li h6 
{
   margin:1px;
} 
li p, .gl-postcontent li p, .gl-blockcontent-body li p 
{
   margin:1px;
}

/* end Page */

/* begin Header */
div.gl-header
{
   margin: 0 auto;
   position: relative;
   z-index: -5;
   width:1000px;
   height: 226px;
   margin-top: 0;
   margin-bottom: 0;
}
.gl-header-position
{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
} 

.gl-header-wrapper 
{
   position: relative;
   top:0;
   width:1000px;
   margin:0 auto;
}
.gl-header-inner 
{
   position: relative;
   margin: 0 1px;
}

.gl-header:before
{
   position: absolute;
   display:block;
   content:' ';
   z-index:-2;
   top: 0;
   width:100%;
   height: 226px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

.gl-header:after
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top: 0;
   left:6px;
   right:6px;
   height: 226px;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin HeaderObject */
div.gl-headerobject
{
   display: block;
   left: 87%;
   margin-left: -265px;
   position: absolute;
   top: 23px;
   width: 306px;
   height: 178px;
   background-image: url('images/header-object.png');
}
/* end HeaderObject */

/* begin Logo */
div.gl-logo
{
   display: block;
   position: absolute;
   top: 88px;
   left: 0;
   margin-left: 12px;
}

.gl-logo-name
{
   display: block;
   text-align: left;
   font-size: 28px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}
.gl-logo-name a, 
.gl-logo-name a:link, 
.gl-logo-name a:visited, 
.gl-logo-name a:hover
{
   font-size: 28px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}

.gl-logo-text
{
   display: block;
   text-align: left;
   font-size: 14px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}
.gl-logo-text a,
.gl-logo-text a:link,
.gl-logo-text a:visited,
.gl-logo-text a:hover
{
   font-size: 14px;
   padding: 0;
   margin: 0;
   color: #FFFFFF !important;
}

#headline, #slogan 
{
   display: block;
   min-width: 150px;
   text-align: left;
}
/* end Logo */

/* begin Menu */
/* menu structure */

ul.gl-hmenu a, ul.gl-hmenu a:link, ul.gl-hmenu a:visited, ul.gl-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.gl-hmenu, ul.gl-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.gl-hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.gl-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.gl-hmenu li li{
   float: none;
   width: auto;
}
ul.gl-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.gl-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.gl-hmenu:after, ul.gl-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.gl-hmenu, ul.gl-hmenu ul {
   min-height: 0;
}

ul.gl-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.gl-hmenu ul.gl-hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.gl-hmenu ul.gl-hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.gl-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.gl-hmenu ul ul.gl-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.gl-hmenu ul ul.gl-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

ul.gl-hmenu li li:hover>ul.gl-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.gl-hmenu li li:hover>ul.gl-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.gl-hmenu{
   position:relative;
   padding: 10px 5px 0 5px;
   float: left;
}

/* end menu structure */

/* menu bar */

.gl-nav
{
   width:1000px;
   margin:0 auto;
   min-height: 36px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 0;
}

.gl-nav:before, .gl-nav:after{
   background-image: url('images/nav.png');
}
.gl-nav:before{
   right: 5px;
}
.gl-nav:after{
   width: 5px;
}
/* end menu bar */
.gl-nav-outer{
   position:absolute;
   width:100%;
}
.gl-nav-wrapper 
{
   position: relative;
   width:1000px;
   margin:0 auto;
}

.gl-nav-inner{
   margin: 0 6px;
}

/* end Menu */

/* begin MenuItem */
ul.gl-hmenu>li>a
{
   position: relative;
   display: block;
   height: 26px;
   cursor: pointer;
   text-decoration: none;
   color: #735502;
   padding: 0 22px;
   line-height: 26px;
   text-align: center;
}

ul.gl-hmenu>li>a:before, ul.gl-hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('images/menuitem.png');
}

ul.gl-hmenu>li>a:before
{
   left: 0;
   right: 5px;
   background-position: top left;
}

ul.gl-hmenu>li>a:after
{
   width: 5px;
   right: 0;
   background-position: top right;
}

.gl-hmenu a, .gl-hmenu a:link, .gl-hmenu a:visited, .gl-hmenu a:hover
{
   text-align: left;
   text-decoration: none;
}

ul.gl-hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.gl-hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.gl-hmenu>li>a.active {
   color: #FEEEC3;
}

ul.gl-hmenu>li>a:hover:before, ul.gl-hmenu>li:hover>a:before {
   background-position: center left;
}
ul.gl-hmenu>li>a:hover:after, ul.gl-hmenu>li:hover>a:after {
   background-position: center right;
}
ul.gl-hmenu>li>a:hover, ul.gl-hmenu>li:hover>a{
   color: #CADFED;
}

/* end MenuItem */

/* begin MenuSeparator */

ul.gl-hmenu>li {
   margin-left:4px;
}
ul.gl-hmenu>li:first-child {
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.gl-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   background-image: url('images/subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 0;
   border-style: solid;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #413001;
   margin:0;
   padding: 0 8px;
}

.gl-hmenu ul>li:first-child>a
{
   border-top-width: 0;
}

.gl-hmenu ul a:link, .gl-hmenu ul a:visited, .gl-hmenu ul a:hover, .gl-hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 24px;
   color: #413001;
   margin:0;
   padding: 0 8px;
}

.gl-hmenu ul li a:hover
{
   color: #000000;
   background-position: left bottom;
   border-top-width: 0 !important;
}

.gl-hmenu ul li:hover>a
{
   color: #000000;
   background-position: left bottom;
   border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Box, Sheet */
.gl-sheet
{
   max-width:1000px;
   margin-top: 0;
   margin-bottom: 0;
   cursor:auto;
   width: 1000px;
}
.gl-sheet-body 
{
   padding:6px;
   padding-top:0;
   padding-bottom:0;
}

/* end Box, Sheet */

/* begin Layout */
.gl-layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.gl-content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.gl-content-layout-row {
   display: table-row;
}

.gl-layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.gl-vmenublock
{
   max-width:988px;
   margin: 7px;
}
.gl-vmenublock-body 
{
   padding:0;
}

/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.gl-vmenublockcontent
{
   max-width:988px;
}
.gl-vmenublockcontent-body 
{
   padding:0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.gl-vmenu, ul.gl-vmenu ul
{
   list-style: none;
   display: block;
}

ul.gl-vmenu, ul.gl-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.gl-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.gl-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position:relative;
   margin-left: 0;
   margin-right: 0;
}

ul.gl-vmenu ul.active
{
   display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.gl-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index:0;
   text-decoration: none;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   margin-left:0;
   margin-right:0;
   position:relative;
}

ul.gl-vmenu li{
   position:relative;
}

ul.gl-vmenu>li>a 
{
   color: #8C6703;
   padding: 0 10px 0 10px;
   height: 32px;
   line-height: 32px;
   white-space: nowrap;
}

ul.gl-vmenu>li>a.active {
   color: #1C72A0;
}
ul.gl-vmenu a:hover, ul.gl-vmenu a.active:hover {
   color: #1A384C;
}

ul.gl-vmenu>li>a:before, ul.gl-vmenu>li>a:after 
{
   position: absolute;
   display: block;
   content: ' ';
   z-index:-1;
   background-image: url('images/vmenuitem.png');
   top:0;
   height:32px;
}

ul.gl-vmenu>li>a:before{
   left: 0;
   right: 0;
   background-position: top left;
}
ul.gl-vmenu>li>a:after{
   width: 0;
   right: 0;
   background-position: top right;
}
ul.gl-vmenu>li>a.active:before {
   background-position: bottom left;
}
ul.gl-vmenu>li>a.active:after {
   background-position: bottom right;
}
ul.gl-vmenu>li>a:hover:before  {
   background-position: center left;
}
ul.gl-vmenu>li>a:hover:after {
   background-position: center right;
}

ul.gl-vmenu>li{
   margin-top:1px;
}
ul.gl-vmenu>li>ul{
   margin-top:1px;
   padding-bottom: 0;
}
ul.gl-vmenu>li:first-child{
   margin-top:0;
}                                                     

ul.gl-vmenu>li:before, ul.gl-vmenu>li>ul:before{
   display: block;
   position:absolute;
   content: ' ';
   height: 0;
   top:-1px;
   left:0;
   right:0;
   z-index:1;
   border-bottom: solid 1px #FDE4A0;
}

ul.gl-vmenu>li:first-child:before,ul.gl-vmenu>li:first-child:after{
   display:none;
}  

/* end VMenuItem */

/* begin VMenuSubItem */
ul.gl-vmenu ul li{
   margin: 0;
   padding: 0;
}
ul.gl-vmenu li li, ul.gl-vmenu li li a {
   position:relative;
}

ul.gl-vmenu ul a
{
   display: block;
   position:relative;
   white-space: nowrap;
   height: 26px;
   overflow: visible;
   background-image: url('images/vsubitem.png');
   background-repeat: repeat-x;
   background-position: top left;
   padding:0;
   padding-left:30px;
   padding-right:15px;
   line-height: 26px;
   color: #8C6703;
   margin-left: 0;
   margin-right: 0;
}

ul.gl-vmenu ul a.active{
   background-position: bottom left;
}
ul.gl-vmenu ul a:hover{
   background-position: center left;
   line-height: 26px;
   color: #8C6703;
   margin-left: 0;
   margin-right: 0;
}
ul.gl-vmenu ul li li a:hover, ul.gl-vmenu ul li li a:hover.active{
   background-position: left center;
}

ul.gl-vmenu ul a:after
{
   display: block;
   position:absolute;
   top:8px;
   content:' ';
   width: 5px;
   height: 10px;
   overflow: visible;
   background-image: url('images/vsubitemicon.png');
   background-position: top left;
   background-repeat: no-repeat;
   left:  15px;
}
ul.gl-vmenu ul a:hover:after{
   background-position: center left;
}
ul.gl-vmenu ul a.active:hover:after{
   background-position: center left;
}
ul.gl-vmenu ul a.active:after{
   background-position: bottom left;
}

ul.gl-vmenu ul a:link, ul.gl-vmenu ul a:visited, ul.gl-vmenu ul a:active
{
   line-height: 26px;
   color: #8C6703;
   margin-left: 0;
   margin-right: 0;
}

ul.gl-vmenu>li>ul>li:first-child{
   padding-top: 0;
   margin-top:0;
}
 
ul.gl-vmenu li li{
   position:relative;
   margin-top:1px;
}

ul.gl-vmenu li li:after
{
   display: block;
   position:absolute;
   content: ' ';
   height: 0;
   top:-1px;
   left:0;
   right:0;
   z-index:1;
   border-bottom: solid 1px #FDE4A0;
}

ul.gl-vmenu li li:before
{
   display: block;
   position:absolute;
   content: ' ';
   left:0;
   right:0;
   top: -1px;
   z-index:0;
   height: 1px;
}
ul.gl-vmenu>li>ul>li:first-child:before,ul.gl-vmenu>li>ul>li:first-child:after{
   display:none;
}

ul.gl-vmenu ul ul a:after{
   left:30px;
}
ul.gl-vmenu ul ul ul a:after{
   left:45px;
}
ul.gl-vmenu ul ul ul ul a:after{
   left:60px;
}
ul.gl-vmenu ul ul ul ul ul a:after{
   left:75px;
}
ul.gl-vmenu ul ul a{
   padding-left:45px;
}
ul.gl-vmenu ul ul ul a{
   padding-left:60px;
}
ul.gl-vmenu ul ul ul ul a{
   padding-left:75px;
}
ul.gl-vmenu ul ul ul ul ul a{
   padding-left:90px;
}

ul.gl-vmenu ul li a.active {
   color: #124A68;
}
ul.gl-vmenu ul li a:hover, ul.gl-vmenu ul li a:hover.active {
   color: #4B3702;
}

/* end VMenuSubItem */

/* begin Box, Block */
.gl-block
{
   max-width:988px;
   margin: 7px;
}
.gl-block-body 
{
   padding:0;
}

div.gl-block img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}

/* end Box, Block */

/* begin BlockHeader */
.gl-blockheader {
   margin-bottom: 4px;
   min-height: 26px;
   line-height:26px;
}
.gl-blockheader:before, .gl-blockheader:after{
   background-image: url('images/blockheader.png');
}
.gl-blockheader:before{
   right: 1px;
}
.gl-blockheader:after{
   width: 1px;
}

.gl-blockheader .t
{
   min-height: 26px;
   line-height:26px;
   color: #0F0B00;
   font-size: 14px;
   margin:0;
   padding: 0 6px 0 6px;
   white-space: nowrap;
}

.gl-blockheader .t a,
.gl-blockheader .t a:link,
.gl-blockheader .t a:visited, 
.gl-blockheader .t a:hover
{
   color: #0F0B00;
   font-size: 14px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.gl-blockcontent
{
   max-width:988px;
}
.gl-blockcontent-body 
{
   padding:5px;
   color: #4B3702;
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 12px;
}
.gl-blockcontent-body table,
.gl-blockcontent-body li, 
.gl-blockcontent-body a,
.gl-blockcontent-body a:link,
.gl-blockcontent-body a:visited,
.gl-blockcontent-body a:hover
{
   color: #4B3702;
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 12px;
}

.gl-blockcontent-body p
{
   margin: 12px 0;
}

.gl-blockcontent-body a, .gl-blockcontent-body a:link
{
   color: #155679;
   text-decoration: underline;
}

.gl-blockcontent-body a:visited, .gl-blockcontent-body a.visited
{
   color: #EBAE05;
   text-decoration: none;
}

.gl-blockcontent-body a:hover, .gl-blockcontent-body a.hover
{
   color: #1C72A0;
   text-decoration: none;
}

.gl-blockcontent-body ul li
{
   font-size: 13px;
   line-height: 125%;
   color: #0B2E41;
   margin: 5px 0 0 10px;
   padding: 0 0 0 12px;
   background-image: url('images/blockcontentbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}
/* end Box, BlockContent */

/* begin Button */
span.gl-button-wrapper>a.gl-button,
span.gl-button-wrapper>a.gl-button:link,
span.gl-button-wrapper>input.gl-button,
span.gl-button-wrapper>button.gl-button
{
   text-decoration: none;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FEEBB9 !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 25px;
   height: 25px;
   margin: 0 !important;
   padding: 0 10px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.gl-button img, span.gl-button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.gl-button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 25px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:988px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.gl-button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
}

div.gl-block select 
{
   width:96%;
}

span.gl-button-wrapper.hover>.gl-button, span.gl-button-wrapper.hover>a.gl-button:link
{
   color: #081F2B !important;
   text-decoration: none !important;
}

span.gl-button-wrapper.active>.gl-button, span.gl-button-wrapper.active>a.gl-button:link
{
   color: #BED8E9 !important;
}

span.gl-button-wrapper>span.gl-button-l, span.gl-button-wrapper>span.gl-button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url('images/button.png');
   background-repeat: no-repeat;
}

span.gl-button-wrapper>span.gl-button-l
{
   left: 0;
   right: 0;
   background-position: top left;
}

span.gl-button-wrapper>span.gl-button-r
{
   width: 0;
   right: 0;
   background-position: top right;
}

span.gl-button-wrapper.hover>span.gl-button-l
{
   background-position: center left;
}

span.gl-button-wrapper.hover>span.gl-button-r
{
   background-position: center right;
}

span.gl-button-wrapper.active>span.gl-button-l
{
   background-position: bottom left;
}

span.gl-button-wrapper.active>span.gl-button-r
{
   background-position: bottom right;
}

span.gl-button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Post */
.gl-post
{
   max-width:988px;
   margin: 0;
}
.gl-post-body 
{
   padding:4px;
   min-width:14px;
   min-height:14px;
}
.gl-post:before, .gl-post:after 
{
   content: url('images/post_t.png');
   font-size: 0;
   background-image: url('images/post_b.png');
}
.gl-post:after{
   clip:rect(auto, auto, auto, 977px);
}
.gl-post:before,.gl-post-body:before{
   right:11px;
}
.gl-post-body:after{
   width: 11px;
   top:11px;
   bottom:11px;
   background-image:url('images/post.png');
}
.gl-post-body:before{
   top:11px;
   bottom:11px;
   background-image:url('images/post.png');
}

a img
{
   border: 0;
}

.gl-article img, img.gl-article, .gl-block img, .gl-footer img
{
   border-color: #8C6703;
   border-style: solid;
   border-width: 0;
   margin: 7px 7px 7px 7px;
}

.gl-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.gl-article table, table.gl-article
{
   border-collapse: collapse;
   margin: 1px;
}

.gl-post .gl-content-layout-br
{
   height: 0;
}

.gl-article th, .gl-article td
{
   padding: 2px;
   border: solid 1px #FBC737;
   vertical-align: top;
   text-align: left;
}

.gl-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

#preview-image
{
   float: left;
   }

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.preview-sharepoint-logo
{
   border: 0;
   margin: 5px;
   float: left;
}
/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.gl-postmetadataheader
{
   position:relative;
   z-index:1;
   padding: 1px;
   background-image: url('images/postmetadataheader_bg.png');
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostHeaderIcon */
.gl-postheader
{
   color: #10415B;
   margin: 5px 0;
   line-height: 1em;
   font-size: 20px;
}

.gl-postheader a, 
.gl-postheader a:link, 
.gl-postheader a:visited,
.gl-postheader a.visited,
.gl-postheader a:hover,
.gl-postheader a.hovered
{
   font-size: 20px;
}

.gl-postheader a, .gl-postheader a:link
{
   text-align: left;
   text-decoration: none;
   color: #145071;
}

.gl-postheader a:visited, .gl-postheader a.visited
{
   color: #397BA7;
}

.gl-postheader a:hover,  .gl-postheader a.hovered
{
   color: #1B6C98;
}

/* end PostHeaderIcon */

/* begin PostBullets */
.gl-postcontent ol, .gl-postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.gl-postcontent li
{
   font-size: 13px;
   color: #231A01;
   margin: 3px 0 0 -15px;
   padding: 0 0 0 13px;
}

.gl-postcontent li ol, .gl-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.gl-postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.gl-postcontent ul>li
{
   background-image: url('images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 13px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .gl-postcontent blockquote a, .gl-blockcontent blockquote a, .gl-footer blockquote a,
blockquote a:link, .gl-postcontent blockquote a:link, .gl-blockcontent blockquote a:link, .gl-footer blockquote a:link,
blockquote a:visited, .gl-postcontent blockquote a:visited, .gl-blockcontent blockquote a:visited, .gl-footer blockquote a:visited,
blockquote a:hover, .gl-postcontent blockquote a:hover, .gl-blockcontent blockquote a:hover, .gl-footer blockquote a:hover
{
   color: #030C11;
   font-style: italic;
   font-weight: normal;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.gl-postcontent blockquote p,
.gl-blockcontent blockquote p,
.gl-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

blockquote
{
   margin: 10px;
   padding: 10px;
   background-color: #FCD66E;
   margin-left: 50px;
   padding-left: 38px;
   background-image: url('images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin Footer */
.gl-footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.gl-footer-body
{
   position:relative;
   padding: 5px;
   color: #2D2101;
   font-size: 11px;
}

.gl-footer-body ul li
{
   color: #071C27;
   padding: 0 0 0 13px;
   background-image: url('images/footerbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}

.gl-footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:0;
   background-image: url('images/footer.png');
   background-position:bottom left;
}

.gl-footer-body .gl-rss-tag-icon
{
   position: absolute;
   left:   -6px;
   bottom:0;
   z-index:1;
}

.gl-rss-tag-icon
{
   display: block;
   background-image: url('images/rssicon.png');
   background-position: center right;
   background-repeat: no-repeat;
   height: 32px;
   width: 32px;
   cursor: default;
}

.gl-footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.gl-footer-body a,
.gl-footer-body a:link,
.gl-footer-body a:visited,
.gl-footer-body a:hover,
.gl-footer-body td, 
.gl-footer-body th,
.gl-footer-body caption
{
   color: #2D2101;
   font-size: 11px;
}

.gl-footer-text
{
   min-height: 32px;
   padding-left: 42px;
   padding-right: 42px;
   position: relative;
   float: left;
   left: 50%;
   text-align: center;
}

.gl-footer-body a,
.gl-footer-body a:link
{
   color: #0E384E;
   text-decoration: none;
}

.gl-footer-body a:visited
{
   color: #0F3E57;
}

.gl-footer-body a:hover
{
   color: #124A68;
   text-decoration: underline;
}

.gl-footer-center
{
   position: relative;
   float: right;
   right: 50%;
}

div.gl-footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}/* end Footer */

/* begin PageFooter */
.gl-page-footer, 
.gl-page-footer a,
.gl-page-footer a:link,
.gl-page-footer a:visited,
.gl-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #173244;
}

.gl-page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #5A4202;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.gl-content-layout .gl-sidebar1
{
   width: 200px;
}
/* end LayoutCell, sidebar1 */


